.App {
  text-align: center;
  margin-top: 10px;
}
.bot-list{
  display: inline-flex;
  max-width: 500px;
}
.bot-container{
 background-color: rgb(194, 190, 185);
 margin: 10px;
 padding: 10px;
 border-radius: 10px;
}
.bot-army-container{
  background-color: aqua;
}
